// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}

@mixin sidebar {
    @media all and (min-width: 840px) {
        display: none;
    }  

    &:focus {
        outline: none;
    }

    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: var(--lightgray);

    .sidebar-header {
        height: 100px;
        display: flex;
        outline-style: solid;
        outline-color: var(--outlinegray);
        outline-width: thin;
        justify-content: space-between;
        align-items: stretch;
    }

    p {
        color: red;
        text-align: center;
    }

    ul {
        height: 35vh;

        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        padding: 0;
        margin: 0;

        font-family: var(--font-header);
        font-size: 1.1em;
        font-weight: 700;
        color: var(--secondary);
        &:hover {
          color: var(--tertiary) !important;
        }

        li {
            flex-grow: 1;

            display: flex;
            flex-direction: row;
            align-items: stretch;

            &:hover {
                background-color: var(--outlinegray) !important;
                transition: 0.2s;
            }

            a {
                flex-grow: 1;
                padding-left: 1.5em;

                display: flex;
                align-items: center;
            }
        }
    }
}

.sidebar-open {
    right: 0;

    @include sidebar;
}

.sidebar-closed {
    right: -280px;

    @include sidebar;
}

.titlebar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.5em;

    > a {
        font-family: var(--font-header);
        font-weight: 700;
        color: var(--secondary);
        padding: 0.5em;
        &:hover {
          color: var(--tertiary) !important;
        }
        font-size: 1.1em;

        @media all and (max-width: 840px) {
            display: none;
        }
    }
}

.hamburger {

    @media all and (min-width: 840px) {
        display: none;
    }

    height: 1.2em;
    width: 1.4em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    
    span.burger {
        flex-grow: 1;
        background: var(--secondary);
        border-radius: 9px;
    }
    &:hover span.burger {
        background: var(--tertiary) !important;
        transition: 0.2s;
    }

    span.space {
        flex-grow: 1;
    }

    &:hover {
        cursor:pointer;
    }
}

.x-button-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.2em;
}

.x-button {

    position: relative;
    height: 2em;
    width: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    
    span.x-line-1 {
        position: absolute;
        height: 15%;
        width: 100%;
        transform: rotate(-45deg);
        background: var(--secondary);
        border-radius: 9px;
    }
    &:hover span.x-line-1 {
        background: var(--tertiary) !important;
        transition: 0.2s;
    }

    span.x-line-2 {
        position: absolute;
        height: 15%;
        width: 100%;
        transform: rotate(45deg);
        background: var(--secondary);
        border-radius: 9px;
    }
    &:hover span.x-line-2 {
        background: var(--tertiary) !important;
        transition: 0.2s;
    }

    &:hover {
        cursor:pointer;
    }
}
