{{ $js_sidebar := resources.Get "js/sidebar_items.js" | resources.Fingerprint "md5" }}
<script src="{{ $js_sidebar.Permalink }}"></script>
<div class="sidebar-closed" id="sidebar" tabindex="-1">
    <div class="sidebar-header">
        {{partial "x_button.html" .}}
        <img src="/icon.png">
    </div>
    <ul>
    {{ range $.Site.Data.config.title_bar }}
        <li onclick="clickSidebarItem()">
            <a href="{{ .link | absURL }}"> {{ .title }} </a>
        </li>
    {{ end }}
    </ul>
</div>
